<p> بیمه مسافرتی ورود به ایران</p>

<div class="card" *ngIf="first">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 mt-3">
        <div class="card">
          <div class="card-body">
            <form #f='ngForm'>
              <div class="row">
                <div class="col-md-6 mt-3">
                  <label class="pt-1">نام به انگلیسی(first Name)</label>
                  <input class="form-control custom-input" required type="text" name="name" [(ngModel)]="formValue.name">
                </div>
                <div class="col-md-6 mt-3">
                  <label class="pt-1">نام خانوادگی به انگلیسی(last Name)</label>
                  <input class="form-control custom-input" type="text" name="lastName" [(ngModel)]="formValue.lastName">
                </div>
                <div class="col-md-6 mt-3 ">
                  <label class="pt-1">شماره پاسپورت(passport No)</label>
                  <input class="form-control custom-input" type="text" name="passNo" [(ngModel)]="formValue.passNo"
                  >
                </div>
                <div class="col-md-6 mt-3">
                  <label class="pt-1">جنسیت(Gender)</label>
                  <mat-select [(ngModel)]="formValue.gender"
                              name="gender">
                    <mat-option *ngFor="let item of genderList"
                                [value]="item.Text">{{item.Text}}</mat-option>
                  </mat-select>
                </div>
                <div class="col-md-6 mt-3">
                  <label class="pt-1">کشور مبدا(Origin Country)</label>
                  <mat-select [(ngModel)]="formValue.country"
                              name="country">
                    <mat-option *ngFor="let item of countryList"
                                [value]="item.title">{{item.title}}</mat-option>
                  </mat-select>
                </div>
                <div class="col-md-6 mt-3 ">
                  <label class="pt-1">مدت اقامت به روز(Duration) </label>
                  <input class="form-control custom-input" type="text"
                         oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                         name="duration" [(ngModel)]="formValue.duration">
                </div>
                <div class="col-md-6 mt-3 ">
                  <label class="pt-1">تاریخ تولد میلادی(Birth Date)</label>
                  <input matInput [matDatepicker]="dp"
                         (click)="dp.open()"  [max]="maxDate" name="date" [(ngModel)]="formValue.date">
                  <mat-datepicker #dp></mat-datepicker>
                </div>
                <div class="col-md-6 mt-3 ">
                  <button class="btn btn-outline-info w-100 " type="submit" (click)="formSubmit(f)"
                          style="height: 45px;margin-top: 29px;">
                    استعلام
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>


<div class="card" *ngIf="!first">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3 mt-3">
        <label class="pt-1">نام به انگلیسی(first Name)</label>
        <input class="form-control custom-input" disabled name="name" [(ngModel)]="formValue.name" required type="text">
      </div>
      <div class="col-md-3 mt-3">
        <label class="pt-1">نام خانوادگی به انگلیسی(last Name)</label>
        <input class="form-control custom-input" disabled name="lastName" [(ngModel)]="formValue.lastName" type="text">
      </div>
      <div class="col-md-3 mt-3 ">
        <label class="pt-1">شماره پاسپورت(passport No)</label>
        <input class="form-control custom-input" disabled name="passNo" [(ngModel)]="formValue.passNo" type="text"
        >
      </div>
      <div class="col-md-3 mt-3">
        <label class="pt-1">جنسیت(Gender)</label>
        <input class="form-control custom-input" disabled
               name="gender" [(ngModel)]="formValue.gender">
      </div>
      <div class="col-md-3 mt-3">
        <label class="pt-1">کشور مبدا(Origin Country)</label>
        <input class="form-control custom-input" disabled
               name="country" [(ngModel)]="formValue.country">
      </div>
      <div class="col-md-3 mt-3 ">
        <label class="pt-1">مدت اقامت به روز(Duration) </label>
        <input class="form-control custom-input" disabled
               name="duration" [(ngModel)]="formValue.duration">
      </div>
      <div class="col-md-3 mt-3 ">
        <label class="pt-1">تاریخ تولد میلادی(Birth Date)</label>
        <input class="form-control  custom-input" disabled name="date" [(ngModel)]="formValue.date"
               type="text">
      </div>
      <div class="col-md-3 mt-3 ">
        <button (click)="onEdit()" class="btn btn-outline-info w-100 " style="height: 45px;margin-top: 29px;"
                type="submit">
          ویرایش
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngFor="let item of reqRes">
  <div class="col-md-3"></div>
  <div class="col-md-6" *ngIf="!first">
    <div class="card">
      <div class="card-body">
        <div class="row custom-row-card">
          <div class="col-md-6">
            <p>نام کشور</p>
          </div>
          <div class="col-md-6 text-left">
            <p> {{item.Name}}</p>
          </div>
        </div>
        <div class="row custom-row-card">
          <div class="col-md-6">
            <p>طرح</p>
          </div>
          <div class="col-md-6 text-left">
            <p> {{item.ZoneCaption}}</p>

          </div>
        </div>
        <div class="row custom-row-card">
          <div class="col-md-6">
            <p>رشته بیمه ای</p>
          </div>
          <div class="col-md-6 text-left">
            <p> {{item.ZoneTitle}}</p>

          </div>
        </div>
        <div class="row custom-row-card">
          <div class="col-md-6">
            <p>مبلغ</p>
          </div>
          <div class="col-md-6 text-left">
            <p> {{item.Amount}} ریال</p>
          </div>
        </div>
        <div class="row custom-row-card">
          <div class="col-md-6">
            <p>مبلغ با مالیات</p>
          </div>
          <div class="col-md-6 text-left">
            <p>{{item.AmountWithTax}} ریال</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>سطح پوشش</p>
          </div>
          <div class="col-md-6 text-left">
            <p> {{item.Coverage}}یورو</p>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-12 text-center">
            <button class="btn btn-outline-primary ">
              صدور بیمه نامه
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
